@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

:root{
  --text-color: #ffffff;
  --card-front-color: #51BBA9;
  --card-back-color: #51BBA9;
}

body {
  background: url(img/bg-desktop-blue.webp);
  font-family: Bai Jamjuree;
}
